apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: goldilocks
spec:
  interval: 1m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: goldilocks
      version: 8.0.2
      sourceRef:
        kind: HelmRepository
        name: goldilocks
  # https://github.com/FairwindsOps/charts/blob/master/stable/goldilocks/values.yaml
  values:
    image:
      tag: v4.13.0
    dashboard:
      ingress:
        enabled: true
        ingressClassName: ${ingress_class_name:=}
        hosts:
          - host: goldilocks.${cluster_domain}
            paths:
              - path: /
                type: ImplementationSpecific
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: traefik-forward-auth@kubernetescrd
    vpa:
      enabled: true
      updater:
        enabled: true
      recommender:
        podSecurityContext:
          runAsNonRoot: true
          runAsUser: 65534
          seccompProfile:
            type: RuntimeDefault
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
