apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 1m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: longhorn
      version: 1.7.0
      sourceRef:
        kind: HelmRepository
        name: longhorn
  # https://github.com/longhorn/charts/blob/v1.7.x/charts/longhorn/values.yaml
  values:
    ingress:
      enabled: true
      host: longhorn.${cluster_domain}
      ingressClassName: ${ingress_class_name:=}
      annotations:
        traefik.ingress.kubernetes.io/router.middlewares: traefik-forward-auth@kubernetescrd

