apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: kube-prometheus-stack
  namespace: kube-prometheus-stack
spec:
  url: https://prometheus-community.github.io/helm-charts
