apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infrastructure
  namespace: flux-system
  labels:
    app.kubernetes.io/sops: enabled
    app.kubernetes.io/post-build-variables: enabled
spec:
  interval: 5m
  dependsOn:
    - name: variables
  sourceRef:
    kind: OCIRepository
    name: flux-system
  path: clusters/homelab-prod/infrastructure
  prune: true
  wait: true
