apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
  labels:
    helm.toolkit.fluxcd.io/remediation: enabled
    helm.toolkit.fluxcd.io/crds: enabled
spec:
  interval: 10m
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
  chart:
    spec:
      chart: traefik
      version: 31.1.1
      sourceRef:
        kind: HelmRepository
        name: traefik
  # https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
  values:
    ports:
      web:
        redirectTo:
          port: websecure
      websecure:
        middlewares:
          - traefik-auth-headers@kubernetescrd
    tlsStore:
      default:
        defaultCertificate:
          secretName: cluster-issuer-certificate-tls
    service:
      type: ${traefik_service_type:=ClusterIP}
      spec:
        loadBalancerIP: ${traefik_ingress_load_balancer_ip}
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.${cluster_domain}`)
        entryPoints:
          - websecure
        middlewares:
          - name: traefik-forward-auth
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Traefik
          gethomepage.dev/description: Dashboard for monitoring the traefik reverse proxy.
          gethomepage.dev/group: Monitoring
          gethomepage.dev/icon: traefik
