apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: harbor
  namespace: harbor
  labels:
    helm.toolkit.fluxcd.io/crds: enabled
    helm.toolkit.fluxcd.io/helm-test: enabled
    helm.toolkit.fluxcd.io/remediation: enabled
spec:
  interval: 10m
  chart:
    spec:
      chart: harbor
      version: 24.0.0
      sourceRef:
        kind: HelmRepository
        name: harbor
  # https://github.com/bitnami/charts/blob/main/bitnami/harbor/values.yaml
  values:
    externalURL: https://harbor.${cluster_domain}
    adminPassword: ${harbor_admin_password:=Harbor12345}
    ingress:
      core:
        ingressClassName: ${ingress_class_name:=}
        hostname: harbor.${cluster_domain}
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Harbor
          gethomepage.dev/description: Cloud-native container registry.
          gethomepage.dev/group: Storage
          gethomepage.dev/icon: harbor
          gethomepage.dev/app: harbor-portal
          gethomepage.dev/pod-selector: app.kubernetes.io/name=harbor
          gethomepage.dev/href: https://harbor.${cluster_domain}
    exposureType: ingress
