apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: capi-operator
  namespace: flux-system
  labels:
    app.kubernetes.io/sops: enabled
    app.kubernetes.io/post-build-variables: enabled
spec:
  interval: 1m
  dependsOn:
    - name: cert-manager
  targetNamespace: capi-operator-system
  sourceRef:
    kind: OCIRepository
    name: oci-artifacts
  path: capi-operator
  prune: true
  wait: true
